/*  Основные цвета  */
:root {
  --primary: #fe8a02;
  --primary-dark: #42413c;
  --white: #fff;
  --translucent-white: #d7ccc0;
  --light: #f5f4f0;
  --dark: #2a2626;
  --translucent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

/* Шрифты */
@font-face {
  font-weight: normal;
  font-family: 'OpenSans';
  src: url(../assets/fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-weight: bold;
  font-family: 'OpenSans';
  src: url(../assets/fonts/OpenSans-Bold.ttf);
}

@font-face {
  font-weight: normal;
  font-family: 'Neucha';
  src: url(../assets/fonts/Neucha-Regular.ttf);
}

/* Сброс стилей */
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
body {
  margin: 0;
}

/* Основные параметры */
h1,
h2,
h3 {
  font-weight: normal;
  font-family: 'Neucha', sans-serif;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

body {
  min-height: 100vh;

  color: var(--dark);
  font: 16px/1.6em 'OpenSans', sans-serif;
}

.container {
  position: relative;

  width: 1110px;

  margin: 0 auto;
  padding: 100px 0;
}

.d-flex {
  display: flex;
}

.column-flex {
  flex-direction: column;
}

.col-2 > * {
  flex-basis: 50%;
}

.col-item + .col-item {
  margin-left: 30px;
}

.flex-grow {
  flex-grow: 1;
}

.d-grid {
  display: grid;
}

.nav-cards-12 {
  grid-gap: 20px 30px;
  grid-template-columns: repeat(12, 1fr);
}

.span-4 {
  grid-column: span 4;
}

/* Заголовки */
.sub-title {
  font: 24px 'Neucha', sans-serif;
}

.title-definition {
  font: bold 14px 'OpenSans', sans-serif;

  text-transform: uppercase;
}

.description-title {
  font: 34px/1.2em 'Neucha', sans-serif;
}

.card-item {
  padding: 24px;

  text-decoration: none;
}

.num-card {
  font: 64px/1em 'Neucha', sans-serif;
}

.btn-more {
  display: inline-block;
  padding: 12px 24px;
}

.btn-subscribe {
  width: 70px;
  height: 50px;
}

.position-absolute {
  position: absolute;
}

.position-relative {
  position: relative;
}

.top-55 {
  top: 55px;
}

.right-negative-270 {
  right: -270px;
}

.z-index-1 {
  z-index: 1;
}

.z-index-0 {
  z-index: 0;
}

.vertical-align-middle {
  vertical-align: middle;
}

.text-align-center {
  text-align: center;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.mt-9 {
  margin-top: 9px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-55 {
  margin-top: 55px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-185 {
  margin-top: 185px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-55 {
  margin-bottom: 55px;
}

.mb-nehative-207 {
  margin-bottom: -207px;
}

.ml-30 {
  margin-left: 30px;
}

.my-1em {
  margin: 1em 0;
}

.my-30 {
  margin: 30px 0;
}

.my-55 {
  margin: 55px 0;
}

.cognitive-biases-section h3 {
  padding: 5px 0 5px 10px;
}

.pt-100 {
  padding-top: 100px;
}

.px-55 {
  padding: 0 55px;
}

.py-100 {
  padding: 100px 0;
}

.p-15 {
  padding: 15px;
}

.p-24 {
  padding: 24px;
}

/* Типографика */
.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-24 {
  font-size: 24px;
}

.fs-34 {
  font-size: 34px;
}

.fs-52 {
  font-size: 52px;
}

.fs-60 {
  font-size: 60px;
}

.fs-64 {
  font-size: 64px;
}

.fs-72 {
  font-size: 72px;
}

.l-height-1 {
  line-height: 1em;
}

.l-height-1-2 {
  line-height: 1.2em;
}

.ff-neucha {
  font-family: 'Neucha', sans-serif;
}

.ff-open-sans {
  font-family: 'OpenSans', sans-serif;
}

.uppercase {
  text-transform: uppercase;
}

.decoration-none {
  text-decoration: none;
}

.border-none {
  border: none;
}

/* Цвет */
.white {
  color: var(--white);
}

.translucent-white {
  color: var(--translucent-white);
}

.primary {
  color: var(--primary);
}

.primary-dark {
  color: var(--primary-dark);
}

.dark {
  color: var(--dark);
}

.translucent-dark {
  color: var(--translucent-dark);
}

.brown {
  color: var(--brown);
}

/* Фон */
.bg-primary {
  background: var(--primary);
}

.bg-dark-primary {
  background: var(--primary-dark);
}

.bg-light {
  background: var(--light);
}

.bg-white {
  background: var(--white);
}

.bg-brown {
  background: var(--brown);
}

.bg-transperent {
  background: transparent;
}

.bg-effect {
  position: relative;

  overflow-x: hidden;
}

.bg-effect::before {
  position: absolute;

  width: 100%;
  height: 100%;

  background-image: url('../assets/images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 10%;

  content: '';
}

/* Свойста псевдо-элементов и псевдо-классов */
.btn-subscribe::before {
  content: url('../assets/images/send.svg');
}

.btn:hover {
  background: #ea7600;
}

.card-item:hover {
  background: var(--primary);
}

.card-item:hover > * {
  color: var(--white);
}

.input-subscribe::placeholder {
  color: #757575;

  opacity: 0.2;
}

.input-subscribe:focus {
  outline: none;
}

.filter {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}
